.apresentationBox {
  & > div {
    box-shadow: 2px 7px 10px -9px var(--color-secondary);
    max-width: 767px;
    height: 60vh;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 60px;

    .boxInfo {
      display: flex;
      flex-direction: column;
      gap: 10px;

      & > p {
        line-height: 24px;
      }
    }

    .boxButton {
  
      & > a {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 10px;

        width: 19.4rem;
        height: 48px;
        padding: 13px 20px 13px 20px;
        border-radius: 8px;
        border: 2px;

        background-color: var(--color-primary);
        color: var(--color-white);

        font-size: var(--font-size-3);
        line-height: 19.36px;

        transition: 0.3s;

        &:hover {
          background-color: var(--color-secondary);
          filter: brightness(1.2);
        }
      }
    }

    .boxImg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 39%;
      order: -1;
      margin: 0 auto;

      & > img {
        border-radius: 8px;
      }
    }
  }
}

@media (min-width: 425px) {
  .apresentationBox {
    & > div {
      .boxImg {
        width: 39%;
      }
    }
  }
}

@media (min-width: 513px) {
  .apresentationBox {
    & > div {
      .boxImg {
        width: 35%;
      }
    }
  }
}

@media (min-width: 591px) {
  .apresentationBox {
    & > div {
      .boxImg {
        width: 31%;
      }
    }
  }
}

@media (min-width: 600px) {
  .apresentationBox {
    & > div {
      margin-left: 10px;
    }
  }
}

@media (min-width: 746px) {
  .apresentationBox {
    & > div {
      width: 600px;
    }
  }
}

@media (min-width: 768px) {
  .apresentationBox {
    & > div {
      max-width: 1200px;
      width: 100%;
      flex-direction: row;
      align-items: center;

      .boxInfo {
        width: 53%;
        margin: auto;
      }

      .boxImg {
        width: 25%;
      }
    }
  }
}
