:root {
    --color-primary: #a410df;
    --color-secondary: #a410dfbb;
    --color-white: #FFF;
    --color-black: #0E0E0E;
    --color-gray: #929EB0;
    --color-blue: #17192B;
    --color-gradient: linear-gradient(270deg, #008FA9 0%, #4B5AB3 66.67%, #6C35AE 100%);

    --font-primary: "Inter", sans-serif;
    --font-size-1: clamp(1.563rem, 1.518rem + 0.119vw, 1.625rem);
    --font-size-2: clamp(1.375rem, 1.33rem + 0.119vw, 1.438rem);
    --font-size-3: clamp(18px, 1.091rem + 0.168vw, 1.375rem);
    --font-size-4: clamp(14px, 0.83rem + 0.119vw, 0.938rem);
    --font-size-5: clamp(12px, 0.733rem + 0.084vw, 0.875rem);
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-black);
    color: var(--color-white);
    width: 100%;
    height: 100%;
}