:root {
    --color-primary: #a410df;
    --color-secondary: #a410dfbb;
    --color-white: #FFF;
    --color-black: #0E0E0E;
    --color-blue: #17192B;
    --font-primary: "Inter", sans-serif;
    --font-size-1: clamp(1.688rem, 1.511rem + 0.882vw, 3rem);
    --font-size-2: clamp(1.125rem, 1.041rem + 0.42vw, 1.75rem);
    --font-size-3: clamp(1.125rem, 1.091rem + 0.168vw, 1.375rem);
    --font-size-4: clamp(0.75rem, 0.733rem + 0.084vw, 0.875rem);
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-black);
    color: var(--color-white);
    width: 100%;
    height: 100%;
}