.skillsBox {
  & > div {
    // height: 94vh;
    max-width: 767px;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // align-items: center;
    // margin-top: 29px;

    .infoTech {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .infoName {
        // max-width: 7rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    }

    .imgTech {
      color: var(--white);
      padding: 1rem 0;
      max-width: 550px;

      display: flex;
      text-align: initial;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;

      & > div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        & > h2 {
          padding: 20px;
        }

        & > div {
          & > ul {
            display: grid;
            grid-template-columns: 4fr 4fr 3fr;
            justify-items: center;

            & > li {
              margin: 1rem;

              & > p {
                display: flex;
                align-items: center;
                margin-top: 4px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 513px) {
  .skillsBox {
    & > div {
      margin-top: -22px;
      margin-left: 10px;
    }
  }
}

@media (min-width: 746px) {
  .skillsBox {
    & > div {
      width: 600px;
    }
  }
}

@media (min-width: 768px) {
  .skillsBox {
    & > div {
      width: 659px;
      max-width: 1200px;

      .imgTech {
        max-width: 1200px;

        & > ul {
          width: 100%;
          overflow-x: hidden;
        }
      }
    }
  }
}
