.aboutMeBox {
    &>div {
        box-shadow: 0px 7px 8px -8px var(--color-secondary);
        width: 100%;
        max-width: 1200px;
        height: 135vh;
        // margin-bottom: 2rem;

        .contactInfo {
            line-height: 12px;
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            // margin: 0 0 0 1rem;
            // gap: 15px;
            // margin-top: 340px;

            & > h2{
                height: 32px;
            }
        }

        .experience__sections {

            display: grid;
            grid-template-columns: .6fr;
            justify-content: center;

            .experience__content {
                display: flex;
                flex-direction: column;

                .experience__data {
                    display: grid;
                    grid-template-columns: 1fr max-content 1fr;
                    column-gap: 1.5rem;

                    .experience__text {
                        width: 200px;
                        height: 143px;
                    }

                    &>div {
                        .experience__rounder {
                            display: inline-block;
                            width: 13px;
                            height: 13px;
                            background:var(--color-gradient);
                            border-radius: 50%;
                        }

                        .experience__line {
                            display: block;
                            width: 1px;
                            height: 100%;
                            background:var(--color-gradient);
                            transform: translate(6px, -7px);
                        }
                    }
                }
            }
        }
    }
}


@media(min-width: 755px) {
    .aboutMeBox {
        &>div {
            width: 600px;
        }
    }
}

@media(min-width: 1024px) {
    .aboutMeBox {
        &>div {
            width: 830px;
            max-width: 1440px;

            .contactInfo {
                padding: 0.9rem;
                align-items: flex-start;

            }

            .experience__sections {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
    
                .experience__content {
    
                    .experience__data {
                        display: flex;

                        .experience__text {
                            width: 574px;
                        }
    
                        &>div {
                            padding: 0 0.9rem;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1366px) {
    .aboutMeBox {
        &>div {
            height: 150vh;
        }
    }
}


