.aboutMeBox {
    &>div {
        width: 100%;
        max-width: 1200px;
        height: 100vh;
        margin-bottom: 2rem;

        .contactInfo {
            line-height: 12px;
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 0 0 1rem;
            gap: 15px;
            margin-top: 340px;
        }

        .experience__sections {

            display: grid;
            grid-template-columns: .6fr;
            justify-content: center;

            .experience__content {
                display: flex;
                flex-direction: column;

                .experience__data {
                    display: grid;
                    grid-template-columns: 1fr max-content 1fr;
                    column-gap: 1.5rem;

                    &>div {
                        .experience__rounder {
                            display: inline-block;
                            width: 13px;
                            height: 13px;
                            background-color: blue;
                            border-radius: 50%;
                        }

                        .experience__line {
                            display: block;
                            width: 1px;
                            height: 100%;
                            background-color: blue;
                            transform: translate(6px, -7px);
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 600px) {
    .aboutMeBox {
        &>div {
            margin-left: 10px;
            margin-top: 45px;
        }
    }
}

@media(min-width: 746px) {
    .aboutMeBox {
        &>div {
            width: 600px;
        }
    }
}


@media(min-width: 768px) {
    .aboutMeBox {
        &>div {
            .contactInfo {
                margin-top: 250px;
            }
        }
    }
}