.aboutMeBox {
    &>div {
        box-shadow: 2px 7px 10px -9px var(--color-secondary);
        width: 100%;
        max-width: 1200px;
        height: 66vh;
        // margin-bottom: 2rem;

        .contactInfo {
            line-height: 12px;
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            // margin: 0 0 0 1rem;
            // gap: 15px;
            // margin-top: 340px;

            & > h2{
                height: 32px;
            }
        }

        .experience__sections {

            display: grid;
            grid-template-columns: .6fr;
            justify-content: center;

            .experience__content {
                display: flex;
                flex-direction: column;

                .experience__data {
                    display: grid;
                    grid-template-columns: 1fr max-content 1fr;
                    column-gap: 1.5rem;

                    .experience__text {
                        width: 200px;
                        height: 143px;
                    }

                    &>div {
                        .experience__rounder {
                            display: inline-block;
                            width: 13px;
                            height: 13px;
                            background:var(--color-gradient);
                            border-radius: 50%;
                        }

                        .experience__line {
                            display: block;
                            width: 1px;
                            height: 100%;
                            background:var(--color-gradient);
                            transform: translate(6px, -7px);
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 600px) {
    .aboutMeBox {
        &>div {
            margin-left: 10px;
            margin-top: 45px;
        }
    }
}

@media(min-width: 746px) {
    .aboutMeBox {
        &>div {
            width: 600px;
        }
    }
}


@media(min-width: 768px) {
    .aboutMeBox {
        &>div {
            .contactInfo {
                margin-top: 250px;
            }
        }
    }
}